/*
  Panel Widget for Content
*/

.panel {
  border-radius: $border-radius;
  margin-bottom: 0.5rem;
  word-wrap:     break-word;

  .panel-heading {
    border-bottom: none;
    border-radius: $border-radius $border-radius 0 0;

    padding: 0.2rem 0.5rem;

    .panel-title {
      margin-bottom: 0;
    }

    .panel-buttons {
      margin-left: auto;
    }

    ~ .panel-body {
      border-top:    none;
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  .panel-body {
    padding:       0.5rem 0.5rem;
    min-height:    1px;
    border:        1px $table-border-color solid;
    border-radius: $border-radius;
  }

  .panel-footer {
    padding: 0.2rem 0.5rem;
  }
}

/* Color Settings */

$panelThemes: (
  "primary":   $secondary,
  "secondary": $primary,
  "red":       $red,
  "green":     $green,
  "yellow":    $yellow,
);

@each $theme, $hexColor in $panelThemes {
  .panel-#{$theme} {

    .panel-heading {
      color: color-contrast($hexColor);
      background-color: $hexColor;
    }

    a {
      color: $hexColor;
    }
  }
}
