/*
  Default Dashboard Layout CSS
*/

#content-wrapper {
  height:  100%;
  display: flex;

  margin: 0;
  margin-top: var(--navbar-margin-top);

  #sidebar {
    top:  var(--navbar-margin-top);
    left: 0;
    position: fixed;

    &.sidebar-collapse ~ #content {
      margin-left: var(--sidebar-collapse-width);
    }
  }

  #content {
    margin-left: var(--sidebar-width);
    transition:  margin $sidebar-anim-time;
  }
}

#sidebarToggle {
  padding: 0;
}
