/*
  Default Dashboard Layout CSS
*/

#content {
  margin: 0;
  height: 100%;
}

#sidebarToggle {
  padding: 0;
}

.page-content {
  margin-left: 0px;
  transition:  margin $sidebar-anim-time;
  z-index:     1;
}
