/*
  Sidebar Configuration SCSS
*/

.sidebar {
  width:      var(--sidebar-width);
  height:     100%;
  transition: all $sidebar-anim-time ease-in-out;
  z-index:    3;

  // cosmetic changes
  .nav-logo {
    font-size:  $sidebar-font-size;
    transition: all $sidebar-anim-time ease-out;
  }

  // sidebar dropdown menu configuration
  .dropend {
    .hover-active {
      inset:    0px auto auto 0px;
      margin:   0px;
      position: absolute;
    }
    .dropdown-toggle::after {
      display: none;
    }
    .dropdown-toggle:focus-visible {
      outline: none;
    }
  }

  // overrides default settings for bootstrap navigation-link
  .nav-link {
    width:       100%;
    display:     flex;
    align-items: center;
  }
  // configuration for text included in navigation items
  .nav-text {
    font-size:   $sidebar-font-entry-size;
    position:    relative;
    margin-left: 5px;
    white-space: nowrap;

    // sidebar implementation for slide-in animation (needs background color)
    .anim-slide-end {
      position:   absolute;
      top:        0;
      bottom:     0;
      right:      0;
      width:      0%;
      animation:  anim-slide-width $sidebar-anim-time ease-in-out;
    }
  }
}

// completley hide sidebar (used w/ js toggle button)
.sidebar-hide {
  transform:  translateX(-100%);
  transition: all $sidebar-anim-time;
}

// collapse sidebar to display only icons
.sidebar-collapse {
  width: var(--sidebar-collapse-width);

  // transition font-size w/ nice animation for smoother open/close
  .nav-logo {
    font-size:  $sidebar-collapse-font-size;
    transition: all $sidebar-anim-time ease-out;
  }

  #sidebarCollapse .nav-logo {
    transform:  rotate(180deg);
  }

  // hide text content to leave only logo content (if setup properly)
  .nav-text {
    display: none;
  }
}
