doctype html

block config
    - var pageTitle = "Page Title"

html(lang='en')

  head

    // meta information
    include includes/head/meta.pug
    // title
    title #{pageTitle} - Admin UI
    // css
    block css

  body

    nav.navbar.topbar.fixed-top.navbar-expand.navbar-light.bg-light
      .container-fluid
        a.navbar-brand
          i.bi.bi-git
          | Admin-UI
        ul.navbar-nav
          // navbar search
          li.nav-item
            form.d-none.d-md-flex
              input(type="search" placeholder="Search" aria-label="Search").form-control
              button(type="submit").btn.btn-primary
                i.bi.bi-search
          // navbar user-dropdown
          li.nav-item.dropdown
            a(href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true").nav-link.dropdown-toggle
              i.bi.bi-person-fill
            ul(aria-labelledby="userDropdown").dropdown-menu.dropdown-menu-end
              li
                a.dropdown-item Action 1
              li
                a.dropdown-item Action 2
              li
                a.dropdown-item Action 3
          // navbar sidebar toggle
          li.nav-item
            button.btn#sidebarToggle
              i.nav-logo.bi.bi-justify
    
    #content-wrapper
      // sidebar definition
      #sidebar.sidebar.bg-light
        ul.nav.nav-pills.nav-flush.flex-column.mb-auto
          li.nav-item.dropdown.dropend.hover.border-bottom
            a(href="#" id="dropdownProduct" data-bs-toggle="dropdown" aria-expanded="false").nav-link.dropdown-toggle
              i.nav-logo.bi.bi-list-columns
              span.nav-text SubMenu
                .anim-slide-end.bg-light
            ul(aria-labelledby="dropdownProduct").dropdown-menu
              li
                a.dropdown-item Menu 1
              li
                a.dropdown-item Menu 2
              li
                hr.dropdown-divider
              li
                a.dropdown-item Break
          li.nav-item.border-bottom
            a(href="#").nav-link
              i.nav-logo.bi.bi-link
              span.nav-text Really Really Long Thing
                .anim-slide-end.bg-light
          // sidebar collapse button
          li.nav-item.border-bottom
            a(href="#").nav-link#sidebarCollapse
              i.nav-logo.bi.bi-arrow-left-circle-fill
              span.nav-text Collapse
                .anim-slide-end.bg-light
    
      #content.page-content.container-fluid.flex-column.p-2
      
        block content
    
    block scripts
