/*
  Custom @keyframe animations for prettifying things
*/

// slowly reveal text from start to end
@keyframes anim-slide-width {
  0% {
    width: 100%;
  }
  70% {
    width: 20%;
  }
  100% {
    width: 0%;
  }
}
