/*
  Global CSS Configurations
*/

html,
body {
    margin: 0;
    height: 100%;
}

/* Alignment Helpers */

.pull-start {
  float: left;
}

.pull-end {
  float: right;
}

/* Bootstrap Overrides */

// add option to override caret on dropdown
.dropdown-toggle.caret-off::after {
  display: none;
}

// add animation to collapsible menus
.btn[data-bs-toggle="collapse"] {
  color: gray;
  padding: 0;

  // remove outline around button on hover/focus
  &.hover {
    color: none;
  }
  &:focus {
    box-shadow: none;
  }

  // add transition/transformation to/from collapsed state
  &.collapsed {
    transition: all 0.3s;
  }
  &[aria-expanded="true"] {
    transition: all 0.3s;
    transform:  rotate(180deg);
  }
}

/* Other */

.notransition {
  transition: none !important;
}
