/*
  Custom Configuration/Settings for CSS
*/

// color pallet settings
$light:     #f8f8f8 !default;
$primary:   #546474 !default;
$secondary: #8fd2eb !default;

$min-contrast-ratio: 1 !default;

$fonts-folder: "../fonts";

/* Panel General Configuration */

/* Navigation General Configuration */

$navbar-margin-top: 60px;

$sidebar-width: 15rem;
$sidebar-collapse-width: 3.5rem;

$sidebar-font-size: 15px;
$sidebar-font-entry-size: 15px;
$sidebar-collapse-font-size: 20px;

$sidebar-color: lightblue;
$sidebar-anim-time: 0.30s;

/* CSS Accessible Variables */

:root {
  --navbar-margin-top:      #{$navbar-margin-top};
  --sidebar-width:          #{$sidebar-width};
  --sidebar-collapse-width: #{$sidebar-collapse-width};
}
