/*
  Custom Configuration/Settings for CSS
*/

$fonts-folder: "../fonts";

/* Sidebar General Configuration */

$sidebar-width: 8rem;
$sidebar-collapse-width: 3rem;

$sidebar-font-size: 15px;
$sidebar-font-entry-size: 15px;
$sidebar-collapse-font-size: 20px;

$sidebar-color: #546474;
$sidebar-anim-time: 0.30s;
