/*
  Custom Configuration/Settings for CSS
*/

@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables";

$fonts-folder: "../fonts";

/* Panel General Configuration */



/* Sidebar General Configuration */

$sidebar-width: 8rem;
$sidebar-collapse-width: 3rem;

$sidebar-font-size: 15px;
$sidebar-font-entry-size: 15px;
$sidebar-collapse-font-size: 20px;

$sidebar-color: $primary;
$sidebar-anim-time: 0.30s;
